*{
    margin: 0;
    padding: 0;
}

@keyframes fade-in{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear{
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pop {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


body{
    width: 450px;
    margin: 0 auto;
    padding-top: 30px;
}

header{
    overflow: hidden;
}

.replay{
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background: #8f7166;
    cursor: pointer;
    border-radius: 4px;
    float: left;
}
.score-container{
    float: right;
}
.item{
    background: #bbada0;
    color: #fff;
    font-weight: bold;
    text-align: center;
    float: left;
}
.score{
    margin-right: 10px;
}
.title{
    font-size: 13px;
    line-height: 20px;
    color: #eee4da;
}
.num{
    font-size: 25px;
    line-height: 30px;
    padding: 0 20px;
}


.main{
    margin-top: 20px;
    position: relative;
}

/* 棋盘 */
.grid-container{
    background: #bbada0;
    padding: 10px 0 0 10px;
    overflow: hidden;   
    border-radius: 8px; 
}
.grid-row{
    margin-bottom: 10px;
    overflow: hidden;
}
.grid-cell{
    width: 100px;
    height: 100px;
    background: rgba(238, 228, 218, 0.35);
    margin-right: 10px;
    float: left;
    border-radius: 4px;
}


/* 方块容器 */
.tile-container{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0 0 10px;
}

.tile{
    width: 100px;
    height: 100px;
    position: absolute;
    transition: transform .1s ease-in-out;
    -moz-transition: -moz-transform .1s ease-in-out;
    
}

.tile-inner{
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    font-size: 53px;
    font-weight: bold;
    line-height: 100px;
    background: #eee4da;
    color: #776e65;
    text-align: center;
    border-radius: 4px;
}

.tile-merged .tile-inner{
    animation: pop .2s ease .1s;
    animation-fill-mode: backwards;
}

.tile-new .tile-inner{
    animation: appear .2s ease .1s;
    animation-fill-mode: backwards;
}

.tile-position-1-1{
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);    
}
.tile-position-1-2{
    transform: translate(0, 110px);
    -moz-transform: translate(0, 110px);
}
.tile-position-1-3{
    transform: translate(0, 220px);
    -moz-transform: translate(0, 220px);
}
.tile-position-1-4{
    transform: translate(0, 330px);
    -moz-transform: translate(0, 330px);
}
.tile-position-2-1{
    transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
}
.tile-position-2-2{
    transform: translate(110px, 110px);
    -moz-transform: translate(110px, 110px);
}
.tile-position-2-3{
    transform: translate(110px, 220px);
    -moz-transform: translate(110px, 220px);
}
.tile-position-2-4{
    transform: translate(110px, 330px);
    -moz-transform: translate(110px, 330px);
}
.tile-position-3-1{
    transform: translate(220px, 0);
    -moz-transform: translate(220px, 0);
}
.tile-position-3-2{
    transform: translate(220px, 110px);
    -moz-transform: translate(220px, 110px);
}
.tile-position-3-3{
    transform: translate(220px, 220px);
    -moz-transform: translate(220px, 220px);
}
.tile-position-3-4{
    transform: translate(220px, 330px);
    -moz-transform: translate(220px, 330px);
}
.tile-position-4-1{
    transform: translate(330px, 0);
    -moz-transform: translate(330px, 0);
}
.tile-position-4-2{
    transform: translate(330px, 110px);
    -moz-transform: translate(330px, 110px);
}
.tile-position-4-3{
    transform: translate(330px, 220px);
    -moz-transform: translate(330px, 220px);
}
.tile-position-4-4{
    transform: translate(330px, 330px);
    -moz-transform: translate(330px, 330px);
}

.tile-4 .tile-inner{
    background: #ede0c8;
}
.tile-8 .tile-inner{
    background: #f2b179;
    color: #f9f6f2;
}
.tile-16 .tile-inner{
    background: #f59563;
    color: #f9f6f2;
}
.tile-32 .tile-inner{
    background: #f67c5f;
    color: #f9f6f2;
}
.tile-64 .tile-inner{
    background: #f6513b;
    color: #f9f6f2;
}
.tile-128 .tile-inner{
    background: #edcf72;
    color: #f9f6f2;
    font-size: 45px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
}
.tile-256 .tile-inner{
    background: #edcc61;
    color: #f9f6f2;
    font-size: 45px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}
.tile-512 .tile-inner{
    background: #edc850;
    color: #f9f6f2;
    font-size: 45px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
}
.tile-1024 .tile-inner{
    background: #edc53f;
    color: #f9f6f2;
    font-size: 35px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
}
.tile-2048 .tile-inner{
    background: #edc22e;
    color: #f9f6f2;
    font-size: 35px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
}


/* 弹出信息 */
.message-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(238, 238, 218, 0.5);
    text-align: center;
    display: none;
    animation: fade-in .8s ease 1.2s;
    animation-fill-mode: backwards;
}
.message{
    margin-top: 222px;
    font-size: 60px;
    height: 60px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 59px;
    color: #776165;
}
.again{
    display: inline-block;
    padding: 0 20px;
    background: #8f7a66;
    border-radius: 3px;
    line-height: 42px;
    height: 42px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
